<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yst.sklad.tsd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ProductsActivity"
            android:label="@string/Products">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ShipmentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListOfProductsWithCountActivity"/>
        <activity android:name=".activities.ProductWithCountActivity"/>


        <activity android:name=".activities.OneProductActivity" />
        <activity android:name=".activities.OneShipmentActivity" />
        <activity android:name=".activities.MyPreferencesActivity" />
        <activity
            android:name=".activities.StockCellsActivity"
            android:label="@string/stockcells" />
        <activity android:name=".activities.OneShipmentItemActivity" />
        <activity android:name=".activities.OneOrderActivity" />
        <activity android:name=".activities.OneOrderCellsListActivity" />
        <activity android:name=".activities.OrdersActivity">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activities.OneOrderOneCellActivity" />

        <service
            android:name=".services.ProductsDownloadIntentService"
            android:exported="false" />
        <service
            android:name=".services.StockCellsDownloadIntentService"
            android:exported="false" />

        <provider
            android:name=".data.AppDataProvider"
            android:authorities="com.yst.sklad.tsd"
            android:exported="true"
            android:readPermission="ccom.yst.sklad.tsd.READ_DATABASE"
            android:writePermission="com.yst.sklad.tsd.WRITE_DATABASE" />

        <activity android:name=".activities.ProductWithCountActivity"></activity>
    </application>

</manifest>