<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.sample1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ProductsActivity">


            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ShipmentsActivity"
            android:label="@string/shipments">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.OneProductActivity" />
        <activity android:name=".activities.OneShipmentActivity" />
        <activity android:name=".activities.MyPreferencesActivity" />

        <service android:name=".services.SimpleIntentService" />

        <activity android:name=".activities.LoadEntitiesActivity" />
        <activity android:name=".activities.StockCellsActivity">

        </activity>
    </application>

</manifest>